<h3>Puzzle 2 solution:</h3>
<% _puzzle = @puzzle.navigate%>
<p>Aim: <%= _puzzle.aim %></p>
<p>Position: <%= _puzzle.position %></p>
<p>Depth: <%= _puzzle.depth %></p>
<p>Final product: <%= _puzzle.final_product %></p>
